<!DOCTYPE html>
<html ng-app>
<head>
	<title>Dev Code Review</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="js/angular.min.js"></script>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">DevCodeReview</a>
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="../help/">Help</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" ng-controller="MainController">
    	<div class="page-header" id="banner">
    		<div class="row">
    			<div class="col-md-12">
				    <h1>
				    	Code Review web tool
				    	<small>
				    	Make it fast ;)
				    	</small>
				    </h1>
				</div>
		    </div>
	    </div>

		<div class="clearfix">	    
			<div class="row">
				<div class="col-md-12">
					<div class="modaltooltip popover top" id="select_language_tooltip" style="top: -208px; display: none;">
						<div class="arrow"></div>
						<div class="popover-content">
							<img src="img/t9batty_trans.png" /><br/>
				    		Choose your language, developer!
				    	</div>
				    </div>
					Please choose your language: 
					<select class="form-control" ng-model="editorLanguage">
						<option value="csharp">С#</option>
						<option value="c_cpp">С, C++</option>
						<option value="css">CSS</option>
						<option value="html">HTML</option>
						<option value="java">Java</option>
						<option value="javascript">JavaScript</option>
						<option value="json">JSON</option>
						<option value="less">Less</option>
						<option value="sql">Sql</option>
						<option value="xml">Xml</option>
						<option value="xml">Xml</option>
					</select>
				</div>
			</div>
		</div>

	    <div>
	    	<div class="row">
	    		<div class="col-md-6">
	    			<div class="modaltooltip popover bottom" id="past_old_code_tooltip" style="top: 150px; left: 160px; display: none;">
						<div class="arrow"></div>
						<div class="popover-content">
							<img src="img/t9dog1_trans.png" /><br/>
				    		Paste here your old code, developer!
				    	</div>
				    </div>

	    			<h4>Old code</h4>
    				<div id="editor_left"></div>
	    		</div>

	    		<div class="col-md-6">
	    			<div class="modaltooltip popover bottom" id="past_new_code_tooltip" style="top: 150px; left: 160px; display: none;">
						<div class="arrow"></div>
						<div class="popover-content">
							<img src="img/t9elephant_trans.png" /><br/>
				    		Paste your new (edited) code here, developer!
				    	</div>
				    </div>

	    			<h4>New code</h4>
	    			<div id="editor_right"></div>
	    		</div>
	    	</div>

	    	<div class="row">
	    		<div class="col-md-12">
	    			<div class="modaltooltip popover top" id="share_tooltip" style="top: -210px; left: 450px; display: none;">
						<div class="arrow"></div>
						<div class="popover-content">
							<img src="img/t9panda_trans.png" /><br/>
				    		Share your code to another developer for Code Review, developer!
				    	</div>
				    </div>

				    <button ng-click="share()" type="button" id="share-btn" class="btn btn-primary">Share for code review</button>
			    </div>
	    	</div>

	    	<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-hidden="true">
			    <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			          <h4 class="modal-title">Share link</h4>
			        </div>
			        <div class="modal-body">
			          Link for share:
			          <input class="form-control" type="text" ng-model="shareFileName" style="cursor: default;" readonly>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div><!-- /.modal-content -->
			    </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
	    </div>
    
	    <footer>
	    	<div class="row">
	    		<div class="col-md-12">
	    			<p>
	    				Made in <a href="http://www.facebook.com/danielostapenko">Daniel Ostapenko</a>
	    			</p>
	    		</div>
	    	</div>
	    </footer>
	</div>

    <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace_editor_extension.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery-cookie.js" type="text/javascript" charset="utf-8"></script>

    <div id="overlay">&nbsp;</div>

    <script type="text/javascript">
    var firstTime = true;
	var currentStep = 0;

    $('#overlay').click(function()
	{
		if(firstTime)
		{
			if(currentStep == 0)
			{
				$(this).css('display', 'none');
				$('#select_language_tooltip').css('display', 'none');

				editor_left.setReadOnly(true);
				editor_left.container.style.backgroundColor = 'lightgrey';

				currentStep++;
			}else if(currentStep == 1)
			{
				$(this).css('display', 'none');
				$('#past_old_code_tooltip').css('display', 'none');

				editor_left.setReadOnly(false);
				editor_left.container.style.backgroundColor = 'white';

				currentStep++;
			}
			else if(currentStep == 2)
			{
				$(this).css('display', 'none');
				$('#past_new_code_tooltip').css('display', 'none');
				currentStep++;
			}else if(currentStep == 3)
			{
				$.cookie('FirstTimeVisit', 'false');

				$(this).css('display', 'none');
				$('#share_tooltip').css('display', 'none');
				currentStep++;
			}
		}
	});

    function scrollToAnchor(id)
    {
    	var tag = $("#"+ id +"");
    	$('html,body').animate({scrollTop: tag.offset().top},'slow');
	}

	function MainController($scope, $http)
	{
		var filename = window.location.hash;
		filename = filename.replace('#/','');

		firstTime = true;
		if(filename)
			firstTime = false;
		else
			firstTime = !$.cookie('FirstTimeVisit');
		
		$http({
			method:'POST',
			url:'getcode.php',
			data: {file: filename}
		}).success(function(data, status)
		{
			$scope.editorLanguage = data.language;
			editor_left.getSession().setValue(data.oldCode);
			editor_right.getSession().setValue(data.newCode);
		});
			
    	if(firstTime)
    	{
	    	function startShowTips()
	    	{
	    		$('#overlay').css('display', 'block');
				$('#select_language_tooltip').css('display', 'block');
				currentStep = 0;
	    	}
	    	window.setTimeout(startShowTips , 2000 )
    	}
		
		$scope.$watch('editorLanguage', function(){
			if($scope.editorLanguage)
			{
				if(editor_left)
					editor_left.getSession().setMode("ace/mode/" + $scope.editorLanguage);
				if(editor_right)
					editor_right.getSession().setMode("ace/mode/" + $scope.editorLanguage);

				if(firstTime && currentStep == 1)
				{
					$('#overlay').css('display', 'block');
					$('#past_old_code_tooltip').css('display', 'block');
				}
			}
		});

		$scope.share = function share()
		{
			var languageValue = $scope.editorLanguage;
			var oldCodeText = editor_left.getSession().getValue();
			var newCodeText = editor_right.getSession().getValue();

			$http({
				url:'save.php',
				method:'POST',
				data:{ language: languageValue, oldCode: oldCodeText, newCode: newCodeText }
			}).success(function(data, status)
			{
				$scope.shareFileName = 'http://devcodereview.ru/#/' + data;
				$('#shareModal').modal('show');
			});
		}
	}
	</script>
</body>
</html>